<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sprucetec.monitor.dao.OpmDbDatasourceMapper" >
  <resultMap id="BaseResultMap" type="com.sprucetec.monitor.entity.OpmDbDatasource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="datasource_name" property="datasourceName" jdbcType="VARCHAR" />
    <result column="datasource_url" property="datasourceUrl" jdbcType="VARCHAR" />
    <result column="datasource_username" property="datasourceUsername" jdbcType="VARCHAR" />
    <result column="datasource_password" property="datasourcePassword" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, datasource_name, datasource_url, datasource_username, datasource_password, update_time, 
    update_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sprucetec.monitor.entity.OpmDbDatasourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from opm_db_datasource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from opm_db_datasource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from opm_db_datasource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sprucetec.monitor.entity.OpmDbDatasourceExample" >
    delete from opm_db_datasource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sprucetec.monitor.entity.OpmDbDatasource" >
    insert into opm_db_datasource (id, datasource_name, datasource_url, 
      datasource_username, datasource_password, 
      update_time, update_user)
    values (#{id,jdbcType=INTEGER}, #{datasourceName,jdbcType=VARCHAR}, #{datasourceUrl,jdbcType=VARCHAR}, 
      #{datasourceUsername,jdbcType=VARCHAR}, #{datasourcePassword,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sprucetec.monitor.entity.OpmDbDatasource" >
    insert into opm_db_datasource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="datasourceName != null" >
        datasource_name,
      </if>
      <if test="datasourceUrl != null" >
        datasource_url,
      </if>
      <if test="datasourceUsername != null" >
        datasource_username,
      </if>
      <if test="datasourcePassword != null" >
        datasource_password,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="datasourceName != null" >
        #{datasourceName,jdbcType=VARCHAR},
      </if>
      <if test="datasourceUrl != null" >
        #{datasourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="datasourceUsername != null" >
        #{datasourceUsername,jdbcType=VARCHAR},
      </if>
      <if test="datasourcePassword != null" >
        #{datasourcePassword,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sprucetec.monitor.entity.OpmDbDatasourceExample" resultType="java.lang.Integer" >
    select count(*) from opm_db_datasource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update opm_db_datasource
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.datasourceName != null" >
        datasource_name = #{record.datasourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.datasourceUrl != null" >
        datasource_url = #{record.datasourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.datasourceUsername != null" >
        datasource_username = #{record.datasourceUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.datasourcePassword != null" >
        datasource_password = #{record.datasourcePassword,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update opm_db_datasource
    set id = #{record.id,jdbcType=INTEGER},
      datasource_name = #{record.datasourceName,jdbcType=VARCHAR},
      datasource_url = #{record.datasourceUrl,jdbcType=VARCHAR},
      datasource_username = #{record.datasourceUsername,jdbcType=VARCHAR},
      datasource_password = #{record.datasourcePassword,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sprucetec.monitor.entity.OpmDbDatasource" >
    update opm_db_datasource
    <set >
      <if test="datasourceName != null" >
        datasource_name = #{datasourceName,jdbcType=VARCHAR},
      </if>
      <if test="datasourceUrl != null" >
        datasource_url = #{datasourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="datasourceUsername != null" >
        datasource_username = #{datasourceUsername,jdbcType=VARCHAR},
      </if>
      <if test="datasourcePassword != null" >
        datasource_password = #{datasourcePassword,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sprucetec.monitor.entity.OpmDbDatasource" >
    update opm_db_datasource
    set datasource_name = #{datasourceName,jdbcType=VARCHAR},
      datasource_url = #{datasourceUrl,jdbcType=VARCHAR},
      datasource_username = #{datasourceUsername,jdbcType=VARCHAR},
      datasource_password = #{datasourcePassword,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>